<div class="projects">
  <h1>A showcase of the projects we've done.</h1>
  <div class="showcase">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>2018 BMW M3 CS</mat-card-title>
        <mat-card-subtitle>German Luxury Sedan</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://res.cloudinary.com/get-good-detailing/image/upload/v1625791004/Projects/2018%20BMW%20M3%20CS/IMG_3374_rih8is.jpg" alt="BMW M3 CS">
      <mat-card-content>
        <p>
          This 2018 BMW M3 CS was brought in for a full detail in addition to a ceramic coating.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>LIKE</button> -->
        <!-- <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
