<div class="Services">
  <!-- <h1>The services we provide.</h1> -->
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="32px" class="Pricing-Table">
    <div fxFlex fxFlex.xs="55" class="PT-Item">
      <header class="PT-Heading">
        <h2 class="PT-Title">Interior Detailing</h2>
        <!-- <p class="PT-Subtitle">All your interior needs cleaned</p> -->
      </header>

      <ul class="PT-Features">
        <li class="PT-Feature">Thorough Vacuuming</li>
        <li class="PT-Feature">Door Jambs Cleaned</li>
        <li class="PT-Feature">
          Cleaning <b>ALL</b> Plastic Panels (Door, Dashboard, Console)
        </li>
        <li class="PT-Feature">Clean Interior Glass And Windows</li>
        <li class="PT-Feature">Clean And Condition Leather Surfaces</li>
        <li class="PT-Feature">
          * Final Price Depends On Soil-Level And Size Of Vehicle/li>
        </li>
      </ul>

      <div class="PT-Footer">
        <p class="PT-Price">
          <small>Starting at </small>
          <span class="PT-nb"> $150</span>
          <!-- <small>/month</small> -->
        </p>
        <!-- <p class="PT-Trial">14-day money back guarantee</p> -->
        <p class="PT-CTA">
          <a
            mat-flat-button
            href="https://calendly.com/gge-detailing/interior-detail"
            color="accent"
            >Select This Package</a
          >
        </p>
      </div>
    </div>

    <!-- Exterior Detailing -->

    <div fxFlex fxFlex.xs="55" class="PT-Item">
      <header class="PT-Heading">
        <h2 class="PT-Title">Exterior Detailing</h2>
        <!-- <p class="PT-Subtitle">All your Exterior needs cleaned</p> -->
      </header>

      <ul class="PT-Features">
        <li class="PT-Feature">Hand Wash And Dry</li>
        <li class="PT-Feature">Clean Wheels, Tires, Fenders, Gas Cap Area</li>
        <li class="PT-Feature">Clean Exterior Glass And Windows</li>
        <li class="PT-Feature">Dress Tires</li>
        <li class="PT-Feature">
          * Final Price Depends On Soil-Level And Size Of Vehicle
        </li>
      </ul>

      <div class="PT-Footer">
        <p class="PT-Price">
          <small>Starting at </small>
          <span class="PT-nb"> $120</span>
          <!-- <small>/month</small> -->
        </p>
        <!-- <p class="PT-Trial">14-day money back guarantee</p> -->
        <p class="PT-CTA">
          <a
            mat-flat-button
            href="https://calendly.com/gge-detailing/exterior-detail"
            color="accent"
            >Select This Package</a
          >
        </p>
      </div>
    </div>

    <!-- Full Detailing -->

    <div fxFlex fxFlex.xs="55" class="PT-Item">
      <header class="PT-Heading">
        <h2 class="PT-Title">Full Detailing</h2>
        <!-- <p class="PT-Subtitle">Clean from bumper to bumper.</p> -->
      </header>

      <ul class="PT-Features">
        <li class="PT-Feature">Full Interior Detail</li>
        <li class="PT-Feature">Full Exterior Detail</li>
        <li class="PT-Feature">Bundle and save $20 vs booking seperately</li>
        <li class="PT-Feature">
          * Final Price Depends On Soil-Level And Size Of Vehicle
        </li>
      </ul>

      <div class="PT-Footer">
        <p class="PT-Price">
          <small>Starting at </small>
          <span class="PT-nb"> $250</span>
          <!-- <small>/month</small> -->
        </p>
        <!-- <p class="PT-Trial">14-day money back guarantee</p> -->
        <p class="PT-CTA">
          <a
            mat-flat-button
            href="https://calendly.com/gge-detailing/full-detail"
            color="accent"
            >Select This Package</a
          >
        </p>
      </div>
    </div>

    <!-- Headlight Restoration -->

    <div fxFlex fxFlex.xs="55" class="PT-Item">
      <header class="PT-Heading">
        <h2 class="PT-Title">Headlight Restoration</h2>
        <!-- <p class="PT-Subtitle">
          Be ready to see the shine again.
        </p> -->
      </header>

      <ul class="PT-Features">
        <li class="PT-Feature">
          - Using a quality grade Polisher to bring your headlights back to life
        </li>
      </ul>

      <div class="PT-Footer">
        <p class="PT-Price">
          <small>Starting at </small>
          <span class="PT-nb"> $60</span>
          <!-- <small>/month</small> -->
        </p>
        <!-- <p class="PT-Trial">14-day money back guarantee</p> -->
        <p class="PT-CTA">
          <a
            mat-flat-button
            href="https://calendly.com/gge-detailing/headlight-restoration"
            color="accent"
            >Select This Package</a
          >
        </p>
      </div>
    </div>

    <!-- Ceramic Coating -->

    <div fxFlex fxFlex.xs="55" class="PT-Item">
      <header class="PT-Heading">
        <h2 class="PT-Title">Ceramic Coating</h2>
        <!-- <p class="PT-Subtitle">Rain Rain Go away</p> -->
      </header>

      <ul class="PT-Features">
        <li class="PT-Feature">A full Wash</li>
        <li class="PT-Feature">Claying</li>
        <li class="PT-Feature">Highly Durable Transparent Coat</li>
        <li class="PT-Feature">Scratch Resistant, Hydrophobic</li>
        <li class="PT-Feature">
          The highest consumer-grade ceramic coating on the market.
        </li>
        <li class="PT-Feature">
          * Final Price Depends On Soil-Level And Size Of Vehicle
        </li>
      </ul>

      <div class="PT-Footer">
        <p class="PT-Price">
          <small>Starting at </small>
          <span class="PT-nb"> $1000</span>
          <!-- <small>/month</small> -->
        </p>
        <!-- <p class="PT-Trial">14-day money back guarantee</p> -->
        <p class="PT-CTA">
          <a
            mat-flat-button
            href="https://calendly.com/gge-detailing/ceramic-coating"
            color="accent"
            >Select This Package</a
          >
        </p>
      </div>
    </div>

    <!-- ... repeat -->
  </div>
  <script
    type="text/javascript"
    src="https://assets.calendly.com/assets/external/widget.js"
    async
  ></script>
</div>
