.Services {
  padding: 4rem 2rem;
}

/**
 * The container is in a Flex layout
 * with a gap of 24px
 */
 .Pricing-Table {
   padding-bottom: 2rem;
}

/**
 * Below a bit of magic to count
 * the number of items.
 * I stopped over 5 on purpose.
 */
/* .PT-Item:nth-last-child(4):first-child,
.PT-Item:nth-last-child(4):first-child ~ .PT-Item {
	--nb-items: 4;
}

.PT-Item:nth-last-child(5):first-child,
.PT-Item:nth-last-child(5):first-child ~ .PT-Item {
	--nb-items: 5;
} */

/**
 * Flex direction column to put our
 * footer at the very bottom.
 */
.PT-Item {
   /* Preparing for themed item */
	--primary: #F34A4E;
  outline: solid;
	/* Be careful with max-content value */
	/* min-width: max-content; */
	background: white;
	/* border-radius: 24px; */
	overflow: hidden;
	/**
}

.PT-Item.is-highlighted {
	/* Preparing for highlighted item */
	--primary: #1FA19C;
	/* transform: scale(1.05); */
}

/**
 * Most of the rest is for
 * decorative purpose.
 */

.PT-Item > * {
	padding: 24px;
}

.PT-Item ul {
  min-height: 16rem;
}

.PT-Item p,
.PT-Item ul,
.PT-Item h2 {
	margin-top: 0;
	margin-bottom: 0;
}

.PT-Heading {
	text-align: center;
	color: white;
	background: var(--primary);
  min-height: 4rem;
}

.PT-Feature {
	font-size: .875em;
	padding: 8px 0;
	list-style: none;
}

.PT-Feature + .PT-Feature {
	border-top: 1px solid #eee;
}

.PT-Footer {
	padding-top: 0;
	margin-top: auto;
	text-align: center;
}

.PT-Price {
	font-size: 2.5rem;
	color: var(--primary);
}

.PT-Price small {
	margin: 0 -.25em;
	font-size: 1rem;
	color: #777;
}

.PT-Trial {
	font-size: .75em;
	color: #777;
}

.PT-CTA {
  padding-top: 2rem;
}

