<header>
  <p class="logo"><a routerLink="/"></a><img src="assets/GGD_Transparent.png" style="background-size: contain;" width="170" alt="Soap"></p>


  <nav id="main-menu" class="main-menu" aria-label="Main menu">
    <ul>
      <li>
        <a routerLink="/about">About</a>
      </li>
      <li>
        <a routerLink="/services">Services</a>
      </li>
      <li>
        <a routerLink="/projects">Projects</a>
      </li>
      <li>
        <a routerLink="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
